body {
    background-color: rgb(248, 246, 238);
    header {
        width: 100%;
        height: 5rem;
        background-color: #acd5db;
        padding: 1rem;
        margin-bottom: 2rem;
            h1 {
                text-align: center;
        }
    }
}