body {
    background-color: rgb(248, 246, 238);
    header {
        width: 100%;
        height: 5rem;
        background-color: #acd5db;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
            h1 {
                display: flex;
        }
    }
}